\documentclass[10pt]{article}
\setlength{\parindent}{0pt}
\linespread{0.96}
\usepackage{hyperref}
\usepackage{enumitem}
\setlist{leftmargin=1.3em}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage[english]{babel}
\usepackage[left=1.06cm,top=0.8cm,right=1.06cm,bottom=0.4cm]{geometry}

\pagestyle{empty}
\begin{document}

\begin{center}
    \textbf{\Large {{ name | latex_escape }}}\\
    \hrulefill
\end{center}

{% if contact_parts %}
\begin{center}
{% for part in contact_parts %}\textbullet \ {{ part | latex_escape }} {% endfor %}

\end{center}
{% endif %}
{% if label %}

\begin{center}
{{ label | latex_escape }}
\end{center}
{% endif %}
{% if summary %}

\vspace{1pt}

\begin{center}
{{ summary | latex_escape }}
\end{center}
{% endif %}
{% for section in sections %}

\vspace{1pt}

\begin{center}
    \textbf{\large {{ section.title | latex_escape }}}
\end{center}

{% if section.style == 'itemize' %}
\begin{itemize}[noitemsep, topsep=0pt, partopsep=0pt, parsep=0pt]
{% for entry in section.entries %}
    \item {% if entry.label %}\textbf{ {{- entry.label | latex_escape -}} :} {% endif %}{{ entry.text | latex_escape }}
{% endfor %}
\end{itemize}
{% else %}
{% for entry in section.entries %}
{% for r in entry.rows %}
{% if r.bold %}\textbf{ {{- r.left | latex_escape -}} }{% else %}{{ r.left | latex_escape }}{% endif %}{% if r.right %} \hfill {{ r.right | latex_escape }}{% endif %}{% if not loop.last %} \\{% endif %}

{% endfor %}
{% if entry.bullets %}
\begin{itemize}[noitemsep, topsep=1pt, partopsep=0pt, parsep=0pt]
{% for bullet in entry.bullets %}
    \item {{ bullet | latex_escape }}
{% endfor %}
\end{itemize}
{% endif %}
{% if not loop.last %}
\vspace{4pt}

{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

\end{document}
